.task {
  display: grid;
  grid-template-columns: 30px auto 40px;
  align-items: center;
  box-sizing: border-box;
  min-height: 65.5px;
  margin-left: 3px;
  column-gap: 20px;
  border-bottom: 2px solid #eef8fd;
}

.task:last-child {
  border-bottom: none;
}
