.popup__input {
  box-sizing: border-box;
  width: 238px;
  height: 32px;
  margin: 0 16px 15px;
  padding: 0 6px;
  font-family: Inter, sans-serif;
  border: 0.5px solid #3c3c434d;
  border-radius: 7px;
}
